*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    line-height: 1.5;
    background: #f1f5f8;
}

div{
    display: block;
}
.container-nav{
    background-color: #343a40!important;
    
}
.container-nav-text{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
   
}
.container-text-heading {
    color: #fff!important;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 22px;
}
.cont{
    display: flex;
    
}
.container-right{
    display: flex;
    position: relative;
    margin-left: 30rem;
    
}
.container-right p a{
    color: #fff!important;
    text-decoration: none;
}
.text-white {
    color: #fff!important;
}

p {margin-top: 0;
    margin-bottom: 1rem;
    padding-right: 2rem;
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
.form{
    justify-content: center;
    margin-left: 30rem;
    margin-top: 5rem;
}
.form h2{
    margin-top: 2rem;
    font-size: 30px;
    color: #343a40;
}
form{
    margin-top: 1rem;
}
.form-data{
    margin-top: 1rem;
}
.form-control{
   display: block;
    width: 40%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.button{
    margin-top: 1rem;
    border-radius: 4px;
    font-size: 1rem;
    height: 40px;
    width: 70px;
    padding: 4px;
}
footer {
    background-color: #5c5c5c;
    color: #fff;
    margin: 0;
    padding: 20px;
    margin-top: 5rem;
    padding: 2rem 0;
}
.footer {
    color: #f8f9fa!important;
}
.footer-div1{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container{ 
width: 100%;
padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    }
.py-3 {
    padding-top: 1rem!important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-md-3 a {
    text-decoration: none;
    background-color: transparent;
    color: #f8f9fa!important;
}
.col-md-3 p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #f8f9fa!important;
}
.text-right {
    text-align: right!important;
}
.text-light {
    color: #f8f9fa!important;
}
.col-md-3 a:hover{
    font-size: 20px;
}

/* Add media query for small screens */
@media only screen and (max-width: 767px){
.container-text-heading {
    max-width: 23.333333%;
    position: relative;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 16px;
}
.container-right{
    display: flex;
    position: relative;
    margin-left: 8rem;
    
}
.form{
    justify-content: center;
    margin-left: 10rem;
    margin-top: 5rem;
}
form{
    margin-top: 0.5rem;

}
.form-control{
    width: 200px;
    height: 30px;
}
#message{
    height: 80px;
}
}
